page-home {
  ion-card {
    position: relative;
    text-align: center;
    .timer-wrap {
      position: relative;
      .timer-wrap-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
