<ion-header>
  <ion-navbar>
    <ion-title icon-left>
      <ion-icon name="timer"></ion-icon>
      Timers
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only 
      (click)="createTimer($event)"
      >
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button color="primary" block icon-left
    *ngIf="snapshots.length==0"
    (click)="createTimer($event)"
    >
      <ion-icon name="add"></ion-icon>
      Create Timer
    </button>
    <ion-card  class="timer"
      *ngFor="let snapshot of snapshots"
    > 
      <ion-card-content>
        <ion-row>
          <ion-col class="timer-wrap" width-33 offset-33 
            (pan)="onPan($event, snapshot)"
            >
            <round-progress 
              [current]="snapshot.remaining" 
              [max]="snapshot.duration"
              [rounded]="true"
              [responsive]="true"
              [duration]="800"
              >
            </round-progress>
            <ion-card-title class="timer-wrap-center">{{snapshot.humanize}}</ion-card-title>
          </ion-col>
        </ion-row>
        
        
        <div class="card-subtitle">{{snapshot.label}}</div>
      </ion-card-content>
      <ion-note>duration: {{snapshot.duration | number:0}}, remaining: {{snapshot.remaining}}</ion-note>
      <button ion-button block icon-left 
        [color]="timerRenderAttrs[snapshot.id]?.color" 
        (click)="timerClick(snapshot)"
      >
        <ion-icon [name]="timerRenderAttrs[snapshot.id]?.icon" ></ion-icon>
        {{timerRenderAttrs[snapshot.id]?.label}}
      </button>
    </ion-card>

    <button ion-button full outline icon-left
    *ngIf="snapshots.length>0"
    (click)="deleteTimers()"
    > 
      <ion-icon name="remove"></ion-icon>
      Remove Timers 
    </button>

</ion-content>
